# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/asterisk-bot

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
TELEGRAM_ADMIN_ID=YOUR_TELEGRAM_ID_HERE

# Asterisk Configuration
ASTERISK_HOST=185.130.46.72
ASTERISK_PORT=5038
ASTERISK_USERNAME=yung
ASTERISK_PASSWORD=yungp1botIsUp@@@@Ff%

# SIP Configuration
SIP_DOMAIN=gateway.bitcall.io
SIP_USERNAME=mirzya
SIP_PASSWORD=HAs207933@@

# Application Configuration
NODE_ENV=production
CONCURRENT_CALLS=30
FILE_DOWNLOAD_TIMEOUT=30000

# Logging
LOG_LEVEL=info
